h1
{
	color: #BBA886;
	text-align: center;
	font-family: "Veranda", "Geneva", "Helveta", sans-serif;
}
h2, h5
{
	color: #648B6F;
	text-align: center;
	font-family: "Veranda", "Geneva", "Helveta", sans-serif;
}
p
{
	color: #6D5E7E;
	text-align: center;
	font-family: "Scala", "Arial", "Lucida Grande" serif;
	font-align: 1em; 
	line-height: 1em;
}
ul
{
	color: #6D5E7E;
	text-align: center;
	font-family: "Scala", "Arial", "Lucida Grande" serif;
	list-style-type: none;
}
body
{
	color: #6D5E7E;
	background-color: black;
	font-family: "Scala", "Arial", "Lucida Grande" serif;
	font-align: 1em;
	line-height: 1em;
}
img
{
	padding: 10px;
	margin: 10px;
	float: left;
}
nav
{
	line-height: 200%;
	diplay: block;
}
nav li
{
	display: inline;
	padding-right: 40px;
	list-style-type: none;
}
nav a:link
{
	color: white;
	text-decoration: none;
}
nav a:visited
{
	color: white;
	text-decoration: none;
}
nav a:hover
{
	text-decoration: underline;
}
nav a:active
{
	color: #648B6F;
	text-decoration: underline;
}